footer
  div#footer-message
    div.col-xs-8.col-xs-offset-1
      p
        | Made with 
        span.glyphicon.glyphicon-heart
        |  , passion, and a big help from my friends: 
        a(href="https://www.firebase.com/") Firebase
        |  & 
        a(href="http://remarkjs.com/") remarkjs.

    div(style="float:right").col-xs-3.hidden-xs
      p
        | Vi&ntilde;a del Mar, Chile, 2016.

