extends gist_layout
block content
  div.container
    div.center-block
      h1 Slideshow from github gist markdown
      hr
      h2 Usage:
      p Create a github gist with markdown code
      p
        a(href="https://gist.github.com/") https://gist.github.com/
      p with the gist id generate the presentation
      p
        code.
          /gist/gist_id
      br
      h2 Example:
        div
          h3 gist markdown
          p
            a(href="https://gist.github.com/juanpabloaj/8f231e0003db50c1fcb7") https://gist.github.com/juanpabloaj/8f231e0003db50c1fcb7
          h3 Slideshow
          p
            a(href="http://platon.io/gist/8f231e0003db50c1fcb7") http://platon.io/gist/8f231e0003db50c1fcb7
  footer
    div#footer-message
      div.col-xs-8.col-xs-offset-1
        p
          | Made with 
          span.glyphicon.glyphicon-heart
          |  , passion, and a big help from my friends: 
          a(href="https://www.firebase.com/") Firebase
          |  & 
          a(href="http://remarkjs.com/") remarkjs.

      div(style="float:right").col-xs-3.hidden-xs
        p
          | Vi&ntilde;a del Mar, Chile, 2016.
