doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" type="text/css" media="all")
    link(rel="stylesheet" href="/style.css" type="text/css" media="all")

    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js")
    script(src="https://cdn.firebase.com/js/client/2.0.4/firebase.js")
    script(src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js")
    script(src="/app.js")
    title Platon.io
    if 'production' == process.env.NODE_ENV
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-58006931-1', 'auto');
        ga('send', 'pageview');
  body
    block content
