doctype html
html(lang="en")
  head
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js")
    script(src="https://cdn.firebase.com/js/client/2.0.4/firebase.js")
    script(src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js")
    link(rel="stylesheet" href="/style.css" type="text/css" media="all")
    script(src="/app.js")
    title Platon.io
  body
    block content
