ul.list-inline#share-list Share:
  li#share-twitter
    a(href="http://twitter.com/share?url=http%3A%2F%2Fplaton.io%2F#{hash}%2Fshow&text=A+slideshow+created+from+markdown", onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;")
      i.fa.fa-twitter.twitter-icon
  li
    a(href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fplaton.io%2F#{hash}%2Fshow&t=A+slideshow+created+from+markdown", onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;")
      i.fa.fa-facebook-official.facebook-icon
