extends layout
block content
  div(ng-app="platonApp")
    div(ng-controller="SlideEditController").container.center-block.row
      div#markdown-box.col-xs-11.col-sm-8.col-md-6
        a(href="/#{hash}/show")
          span.glyphicon.glyphicon-play-circle
          |  Presentation mode
        span#theme-select.pull-right
          | Theme: 
          select(ng-model="slide.theme", ng-options="theme as theme for theme in themes", ng-change="themeChanged()")
        hr
        div#markdown-text
          input(type="hidden", value="#{hash}")#hashId
          textarea(ng-model="slide.markdown", ng-change="markdownChanged()")
      div#preview-box.col-md-5.hidden-sm.hidden-xs
        div(ng-repeat="preview in previews")
          div.remark-slide-preview.center-block(ng-class="slide.theme")
            div.remark-slide-content-preview(ng-bind-html="preview") {{ preview }}
  footer
    div#footer-message
      div.col-xs-8.col-xs-offset-1
        p
          | Made with 
          span.glyphicon.glyphicon-heart
          |  , passion, and a big help from my friends: 
          a(href="https://www.firebase.com/") Firebase
          |  & 
          a(href="http://remarkjs.com/") remarkjs.

      div(style="float:right").col-xs-3.hidden-xs
        p
          | Vi&ntilde;a del Mar, Chile, 2015.
