extends layout
block content
  div(ng-app="platonApp")
    div(ng-controller="SlideShowController")
      input(type="hidden", value="#{hash}")#hashId
      textarea(ng-model="slide.markdown")#source.
  script(src="https://gnab.github.io/remark/downloads/remark-latest.min.js")
  script.
    var slideshow = remark.create();
