extends layout
block content
  div(ng-app="platonApp")
    div(ng-controller="SlideShowController")
      input(type="hidden", value="#{hash}")#hashId
      textarea(ng-model="slide.markdown")#source.
  script.
    var slideshow = remark.create();
