body {
    background-color:#fff;
    height:100%;
}

/* sticky footer */
html {
    position:relative;
    min-height:100%;
}

body {
    margin-bottom:52px;
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
  background-color:#448aff;
  height: 52px;
}

#footer-message {
  padding-top: 18px;
}

footer p {
  color:#fff;
  font-size:12px;
  margin-bottom:0px;
}

footer p a, footer p a:hover {
  text-decoration:none;
  color:#ffffff;
}

footer p a:hover {
    color:#bbdefb;
}

footer .glyphicon-heart {
    color:#ff8a80;
}

#markdown-box, #markdown-text, #markdown-text textarea {
    background-color:#ffffff;
}
#markdown-box {
    margin-top:4%;
}

#markdown-box a {
    text-decoration:none;
    color:#727272;
}

#markdown-text textarea {
    border:0px;
    width:100%;
    height:100%;
    min-height:500px;

    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#preview-box {
    margin-top:1%;
    height:600px;
    overflow-y:scroll;
}

#preview-box iframe {
    margin-top: 120px;
}

.remark-slide-preview {
  width:320px;
  height:240px;
  display: table;
  table-layout: fixed;
  padding-top:1px;
  margin-top:20px;
  -webkit-box-shadow: 0 0 6px #b6b6b6;
  -moz-box-shadow: 0 0 6px #b6b6b6;
  box-shadow: 0 0 6px #b6b6b6;
}

.remark-slide-content-preview {
  background-position: center;
  background-repeat: no-repeat;
  display: table-cell;
  font-size: 8px;
  padding: 1em 4em 1em 4em;
}

.remark-slide-content-preview pre {
  padding: 5px;
  margin: 0 0 2px;
  font-size: 7px;
  border-radius:2px;
}
.remark-slide-content-preview code {
    font-size: 7px;
    padding:1px 2px;
    border-radius:2px;
}
.remark-slide-content-preview blockquote {
    padding: 4px 8px;
    margin: 0 0 8px;
    font-size: 7px;
    border-left: 2px solid #eee;
}
.remark-slide-content-preview h1 {
  font-size: 21px;
}
.remark-slide-content-preview h2 {
  font-size: 17px;
}
.remark-slide-content-preview h3 {
  font-size: 14px;
}
.remark-slide-content-preview h4 {
  font-size: 11px;
}
.remark-slide-content-preview h5 {
  font-size: 9px;
}
.remark-slide-content-preview h6 {
  font-size: 7px;
}

.remark-slide-content-preview ul {
  padding-left:2em;
}

.remark-slide-content-preview img {
    max-width:100%;
}

#presentation-mode a:hover {
    color:#FF4081;
}

#theme-select, #share-list {
    color:#727272;
}

#theme-select select {
    color:#727272;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.twitter-icon {
    color:#00aced;
}

.facebook-icon {
    color:#3B5998;
}

/* themes */

.default-theme {
    background-color:#ffffff;
    color:#000000;
}

.default-theme a {
    color:#337ab7;
}

.platon-theme {
    background-color:#03A9F4;
    color:#ffffff;
}

.platon-theme a {
    color:#ff8a80;
}

.black-theme {
    background-color:#212121;
    color:#ffffff;
}

.black-theme a {
    color:#ffffff;
}

.monokai-theme {
    background-color:#282828;
    color:#f8f8f2;
}

.monokai-theme a {
    color:#AE81FF;
}

.monokai-theme h1 {
    color:#F92672;
}

.monokai-theme h2 {
    color:#A6E22E;
}

.monokai-theme h3 {
    color:#66D9EF;
}
