body {
    background-color:#fff;
    height:100%;
}

/* sticky footer */
html {
    position:relative;
    min-height:100%;
}

body {
    margin-bottom:42px;
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
  background-color:#448aff;
  height: 42px;
}

#footer-message {
  padding-top: 14px;
}

footer p {
  color:#fff;
  font-size:12px;
}

footer p a, footer p a:hover {
  text-decoration:none;
  color:#ffffff;
}

footer p a:hover {
    color:#bbdefb;
}

footer .glyphicon-heart {
    color:#ff8a80;
}

#markdown-box, #markdown-text, #markdown-text textarea {
    background-color:#ffffff;
}
#markdown-box {
    margin: 4% 4%;
    width:400px;
}

#markdown-box a {
    text-decoration:none;
    color:#727272;
}

#markdown-text textarea {
    border:0px;
    width:100%;
    height:100%;
    min-height:500px;

    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#preview-box {
    margin-top:1%;
    height:600px;
    overflow-y:scroll;
}

.preview-slide {
    padding-top:1px;
    margin-top:20px;
    background-color:#fff;
    width:320px;
    height:240px;
    font-size:8px;
    -webkit-box-shadow: 0 0 6px #b6b6b6;
    -moz-box-shadow: 0 0 6px #b6b6b6;
    box-shadow: 0 0 6px #b6b6b6;
}

.preview-content {
    margin:22px 12px;
}

.preview-slide h1 {
    font-size:21px;
}

.preview-slide h2 {
    font-size:17px;
}

.preview-slide h3 {
    font-size:14px;
}

.preview-slide h1, h2, h3 {
    text-align:center;
}
